################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EstructurasDatos/.vs/EstructurasDatos/v16/Server/sqlite3
